/* Main page menu */

nav {
    position: absolute;
    top: 3rem;
    right: 0;
}

.main_navbar {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
    list-style: none;
    color: var(--text);
    background: var(--navBg);
    padding: 1rem 1.5rem calc(1rem - 3px) 1.5rem;
    border-radius: .2rem 0 0 .2rem;
}

.main_navbar > li {
    border-bottom: 3px solid transparent;
}

.main_navbar > li:hover, .sticky_menu_links_container > li:hover {
    border-bottom: 3px solid var(--text);
    cursor: pointer;
    transition: 300ms ease;
}



/* Dynamic menu */

.main_sticky_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    position: fixed;
    z-index: 10;
    top: 0;
    font-size: 1.5rem;
    background: hsla(197, 81%, 6%, 0.837);
    color: var(--text);
    list-style: none;
    padding: 0.5rem 2rem calc(0.5rem - 3px) 2rem;
    transition: opacity 250ms ease;
}

.sticky_menu_links_container > li {
    border-bottom: 3px solid transparent;
}

.sticky_menu_container {
    display: flex;
    align-items: center;
}

.sticky_menu_logo {
    width: 2rem;
    margin-right: .5rem;
}

.sticky_menu_logo_title {
    font-size: 1.2rem;
    color: var(--textBasic);
}

.sticky_menu_links_container {
    display: flex;
    gap: 1.5rem;
}

.sticky_menu_container {
    cursor: pointer;
}


/* ------------------ */

.back-to-top {
    display: block;
    width: 50px;
    height: 50px;
    background: var(--text) url(images/icon_right.png) center no-repeat;
    transform: rotate(-90deg);
    position: sticky;
    left: 90%;
    bottom: 2rem;
    opacity: .6;
    border-radius: 1rem;
    border: none;
    opacity: .8;
    transition: opacity 500ms ease-in-out;
}

.back-to-top:hover {
    opacity: .9;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    z-index: -10;
}